
/* IDs */

#particles-js {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#overlay{
    position: relative;
}

/* Classes */

.talkhidden{
    display: none;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in;
}

.talk{
    display: block;
    visibility: visible;
    transition: 0.5s ease-in;
    min-height: 500px;
}

.bgyellow{
    background-color: yellow;    
}

.bgyellow2{
    background-color: yellow;
    
}

.bgblack{
    background-color: #222;
}

.somepadding{
    padding-bottom: 100px;
}

.somepadding2{
    padding: 10px 0 40px 0;
}

.somepadding3{
    padding: 15px 0 0 0;
}

.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background-color:#222;
}

a:link, a:visited, a:active{
    color: yellow;
    text-decoration: none;
}

a:hover{
    color: white !important;
    text-decoration: none;
}

.glyphicon{
    transform:rotate(180deg);
	text-shadow: none;
	text-decoration: none;
	color: #000;
    transition: .5s ease;
}

.glyphicon:hover{
	transform: rotate(0deg);
	transition: .5s ease;
}

.glyphicon:visited{
	text-shadow: none;
	text-decoration: none;
	color: white;
    transition: .5s ease;
}

.font1 {
    text-align: center;
    color: #fff;
    margin-top: 300px;
    margin-bottom: 0px;
    font-family: Anton, sans-serif;
    font-size: 150px;
}

.font2 {
    color: #fff;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px; 
    text-align: center;
}

.font3 {
    color: #000;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px; 
    text-align: center;
}

.font4{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}

.font5{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}

.yellowtext{
    color: yellow;
}

.social{
    height: 100px;
    font-size: 55px;
    color:yellow;
  
}
