
body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222;
  
}

/* IDs */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Classes */

.spacing{
    padding-top: 80px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
}

.font1 {
    color: #fff;
    margin-top: 200px;
    font-family: Anton, sans-serif;
    font-size: 150px;
    z-index: 1;
  
}

.font2 {
    color: #fff;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px; 
}


